li > .active,
li > a[aria-current="page"]{
    text-decoration: underline;
    text-decoration-color: #fff;
    text-underline-position: under;
    font-weight: 600;
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;
}